---
import MainLayout from "../layouts/MainLayout.astro"
---


<MainLayout title="Marjorie SIAD">
	<div class="bg-windows-teal w-full h-10">Teal</div>
	<div class="bg-windows-blue w-full h-10">Blue</div>
	<div class="bg-windows-dark-gray w-full h-10">Dark Gray</div>
	<div class="bg-windows-light-gray w-full h-10">Light Gray</div>
	<div class="bg-windows-pink w-full h-10">Pink</div>

</MainLayout>