---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Marjorie SIAD">
<p>Main</p>

<script>
  // Redirection mobile côté client
  const ua = navigator.userAgent;
  const isMobile = /Mobile|Android|iP(hone|od|ad)/i.test(ua);
  
  if (isMobile) {
    window.location.href = '/mobile';
  }
</script>

</MainLayout>